<!-- <div class="btn-new">
    <button mat-raised-button [routerLink]="['./new']">Add Item</button>
</div> -->
<table mat-table [dataSource]="groceryList" class="groceryList-table">

    <ng-container matColumnDef="id">
        <th mat-header *matHeaderDef></th>
        <td mat-cell *matCellDef="let element">{{element.product}}</td>
        <tr>
            <th mat-header *matHeaderDef="let title">{{title}}</th>
            <td mat-cell *matCellDef="let element">{{element.type}}</td>
        </tr>

    </ng-container>

    <th mat-header-cell *matHeaderCellDef></th>
    <tr mat-row *matRowDef="let row; columns: listColumns;"></tr>
</table>