/* You can add global styles to this file, and also import other style files */
@import "colors";

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: basic-sans,sans-serif;
    font-weight: 200;
    font-style: italic;
    background: $deep-space;
    color: $black;
}
