@import "colors";
@import "mixins";

.home-container {
    display: flex;
    justify-content: space-between;
}

.home-section {
    @include border-radius;
    @include box-shadow;
    background: $off-white;
    flex-basis: 60%;
    margin: 0 1em;
    padding: 0 1em;
}

.home-section__expire {
    flex-basis: 30%;
}

.home-section__pantry {
    margin-top: 1em;
}

.home-section__right {
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
}